<template>
    <div>
        <div>{{message}}</div>
        <input id="suggest" v-model="output" @focus="arhiveFields" @input="sendYa" type="text">
        <div v-for="(el, idx) of response">
            <div @click="addAddress($event)" :key="idx">{{el.displayName}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddLocation",
        data: () => ({
            output: null,
            response: null,
            message: null
        }),
        methods: {
            arhiveFields() {
                this.response = this.$store.state.archiveAddedPlace
            },
            sendYa(e) {
                ymaps.suggest(e.target.value).then((items) => {
                    this.response = items
                })
            },
            addAddress(e) {
                this.output = e.target.textContent

                ymaps
                    .geocode(this.output)
                    .then((res) => {
                        var obj = res.geoObjects.get(0),
                            error,
                            hint;

                        if (obj) {
                            switch (obj.properties.get('metaDataProperty.GeocoderMetaData.precision')) {
                                case 'exact':
                                    break;
                                case 'number':
                                case 'near':
                                case 'range':
                                    error = 'Неточный адрес, требуется уточнение';
                                    hint = 'Уточните номер дома';
                                    break;
                                case 'street':
                                    error = 'Неполный адрес, требуется уточнение';
                                    hint = 'Уточните номер дома';
                                    break;
                                case 'other':
                                default:
                                    error = 'Неточный адрес, требуется уточнение';
                                    hint = 'Уточните адрес';
                            }
                        } else {
                            error = 'Адрес не найден';
                            hint = 'Уточните адрес';
                        }

                        if (error) {
                            this.message = hint
                        } else {
                            const dataPlace = {
                                value: obj.getAddressLine(),
                                lat: obj.geometry.getCoordinates()[0],
                                lon: obj.geometry.getCoordinates()[1],
                                country: obj.getCountry(),
                                city: obj.getLocalities(),
                                street: obj.getThoroughfare(),
                                street_with_type: obj.getThoroughfare()
                            }

                            this.message = null
                            this.response = null

                            this.$store.dispatch('addLocalStorage', {displayName: dataPlace.value})

                            // сделал отправление здесь, так не понятно что должно произойти после
                            // fetch('url', {
                            //     method: 'POST',
                            //     body: JSON.stringify(dataPlace)
                            // })
                        }
                    })
            }
        }
    }
</script>