<template>
    <div id="app">
        <AddLocation/>
    </div>
</template>

<script>
    import AddLocation from "@/components/AddLocation";

    export default {
        name: 'App',
        components: {
            AddLocation
        }
    }
</script>

<style lang="scss">
</style>
